{% extends 'base.html.twig' %}

{% block title %}Progression index{% endblock %}

{% block body %}
    <h1>Progression index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Progress</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for progression in progressions %}
            <tr>
                <td>{{ progression.id }}</td>
                <td>{{ progression.Progress }}</td>
                <td>{{ progression.createdAt ? progression.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('progression_show', {'id': progression.id}) }}">show</a>
                    <a href="{{ path('progression_edit', {'id': progression.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('progression_new') }}">Create new</a>
{% endblock %}
