{% extends 'base.html.twig' %}

{% block title %}Thematique index{% endblock %}

{% block body %}
    <h1>Thematique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Theme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thematique in thematiques %}
            <tr>
                <td>{{ thematique.id }}</td>
                <td>{{ thematique.titre }}</td>
                <td>{{ thematique.theme }}</td>
                <td>
                    <a href="{{ path('thematique_show', {'id': thematique.id}) }}">show</a>
                    <a href="{{ path('thematique_edit', {'id': thematique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('thematique_new') }}">Create new</a>
{% endblock %}
