{% extends 'base-beyond.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ asset ('assets/css/beyond-style.css') }} ">
{% endblock %}
{% block body %}

<div class="bg-desktop">

    <div class="wrap-folders">
        <!-- Premier dossier "Images" -->
        <!-- Button trigger modal -->
        <div class="folders item">
            <img  data-toggle="modal" data-target="#folder1" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
            <a data-toggle="modal" data-target="#folder1">Images</a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="folder1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Images</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="form-images">
                            <div class="form-group">
                                <label for="password-images">Mot de passe exigé</label>
                                <input id="password-images" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                            </div>
                            <button id="validation-form-images" class="btn btn-primary">Valider</button>
                        </div>
                        <div class="folder-content-images">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Deuxième dossier "Voyage"-->
        <!-- Button trigger modal -->

        <div class="folders item">
            <img data-toggle="modal" data-target="#folder2" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
            <a data-toggle="modal" data-target="#folder2">
                Voyage 2019
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="folder2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Voyage 2019</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="form-voyage">
                            <div class="form-group">
                                <label for="password-voyage">Mot de passe exigé</label>
                                <input id="password-voyage" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                            </div>
                            <button id="validation-form-voyage" class="btn btn-primary">Valider</button>
                        </div>
                        <div class="folder-content-voyage">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Troisième dossier "Musique" -->
        <!-- Button trigger modal -->
        <div class="folders item">
            <img data-toggle="modal" data-target="#folder3" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
            <a data-toggle="modal" data-target="#folder3">
                Musiques
            </a>
        </div>
            <!-- Modal -->
        <div class="modal fade" id="folder3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Musiques</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="form-musiques">
                            <div class="form-group">
                                <label for="password-musiques">Mot de passe exigé</label>
                                <input id="password-musiques" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                            </div>
                            <button id="validation-form-musiques" class="btn btn-primary">Valider</button>
                        </div>
                        <div class="folder-content-musiques">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quatrième dossier "Evelyn" -->
        <!-- Button trigger modal -->
        <div class="folders item">
            <img data-toggle="modal" data-target="#folder4"
                src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
            <a data-toggle="modal" data-target="#folder4">
                Evelyn
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="folder4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Evelyn</h5>
                        <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="form-evelyn">
                            <div class="form-group">
                                <label for="password-evelyn">Mot de passe exigé</label>
                                <input id="password-evelyn" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                            </div>
                            <button id="validation-form-evelyn" class="btn btn-primary">Valider</button>
                        </div>
                        <div class="folder-content-evelyn">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- cinquième dossier "Corbeille" -->
        <!-- Button trigger modal -->
        <div class="folders item">
            <img data-toggle="modal" data-target="#folder5"
                src="{{ asset('images-beyond/beyond-folders-img/trash.png') }}">
            <a data-toggle="modal" data-target="#folder5">
                Corbeille
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="folder5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Corbeille</h5>
                        <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> L-M-M-J-V-?-D
                                <br><audio controls src="{{ asset('Musique/trash/mc-vanm.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> J-F-M-A-M-J-J-?-S-O-N-D
                                <br><audio controls src="{{ asset('Musique/trash/mc-dcdl.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> Z-W-T-?-N-K-H
                                <br><audio controls src="{{ asset('Musique/trash/mc-tldc.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> 2-4-6-?-10-12-14-16
                                <br><audio controls src="{{ asset('Musique/trash/mc-rwlcdw.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> M-V-T-?-J-S-U-N
                                <br><audio controls src="{{ asset('Musique/trash/mc-jsbspv.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> A-C-E-G-I-K-M-O-?
                                <br><audio controls src="{{ asset('Musique/trash/mc-haesa.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> 1-2-3-5-?-13-21-34
                                <br><audio controls src="{{ asset('Musique/trash/mc-wamdi.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                            <li>
                                <img class="file-music"
                                    src="{{ asset('images-beyond/beyond-folders-img/file-music.png') }}">
                                </i> C-?-E-O-G-P-L	
                                <br><audio controls src="{{ asset('Musique/trash/mc-wamdi.mp3') }}">
                                    votre navigateur ne supporte pas le <code>audio</code> de l'élément.
                                </audio>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sixième dossier "Désinstalleur" -->
        <!-- Button trigger modal -->
        <div class="folders item">
            <img data-toggle="modal" data-target="#folder6"
                src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
            <a data-toggle="modal" data-target="#folder6">
                Désinstalleur
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="folder6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Désinstalleur</h5>
                        <button type="button" class="close btn btn-light" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="form-uninstall">
                            <div class="form-group">
                                <label for="password-uninstall">Mot de passe exigé</label>
                                <input id="password-uninstall" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                            </div>
                            <button id="validation-form-uninstall" class="btn btn-primary">Valider</button>
                        </div>
                        <div class="folder-content-uninstall">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="post-it item">NOTES:
        <hr>
        <ul>
            <li>Aller boire un Spinoza avec Rachel !</li>
            <br> 
            <li>Renouveler ma playlist MP3</li>
        </ul>
    </div>
</div>


{% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
                integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{{ asset ('assets/javascript/modal.js') }}"></script>
        <script src="{{ asset ('assets/javascript/folders.js') }}"></script>
        <script src="{{ asset ('assets/javascript/draggable.js') }}"></script>
        <script>


            function validPassword($btn, $input, $password, $form, $folder, $content){
                document.getElementById($btn).addEventListener("click",()=>{
                    let inputValue = document.getElementById($input).value;
                    let password = btoa(inputValue);
                    if(password === $password ){
                        $($form).hide();
                        $($folder).html($content);
                    }else{
                        alert('ACCÈS REFUSÉ');
                    }
                })
            }
            validPassword("validation-form-images", "password-images", "{{ data['beyond'][0].password }}", '#form-images', '.folder-content-images', "{{ data['beyond'][0].contenu | raw }}")
            validPassword("validation-form-voyage", "password-voyage", "{{ data['beyond'][1].password }}", '#form-voyage', '.folder-content-voyage', "{{ data['beyond'][1].contenu | raw }}")
            validPassword("validation-form-musiques", "password-musiques", "{{ data['beyond'][2].password }}", '#form-musiques', '.folder-content-musiques', "{{ data['beyond'][2].contenu | raw }}")
            validPassword("validation-form-evelyn", "password-evelyn", "{{ data['beyond'][3].password }}", '#form-evelyn', '.folder-content-evelyn', "{{ data['beyond'][3].contenu | raw }}")
            validPassword("validation-form-uninstall", "password-uninstall", "{{ data['beyond'][4].password }}", '#form-uninstall', '.folder-content-uninstall', "{{ data['beyond'][4].contenu | raw }}")


        </script>
    {% endblock %}
