{% extends 'base-beyond.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset ('assets/css/beyond-style.css') }} ">
{% endblock %}
{% block body %}

    <div class="bg-desktop">

        <div class="wrap-folders">

            <!-- Premier dossier "Images" -->
            <!-- Button trigger modal -->
            <div class="folders">
                <img  data-toggle="modal" data-target="#folder1" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
                <a data-toggle="modal" data-target="#folder1">Images</a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="folder1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Images</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="form-images">
                                <div class="form-group">
                                    <label for="password-images">Mot de passe exigé</label>
                                    <input id="password-images" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                    <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                                </div>
                                <button id="validation-form-images" class="btn btn-primary">Valider</button>
                            </div>
                            <div class="folder-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Deuxième dossier "Voyage"-->
            <!-- Button trigger modal -->

            <div class="folders">
                <img data-toggle="modal" data-target="#folder2" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
                <a data-toggle="modal" data-target="#folder2">
                    Voyage 2019
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="folder2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Voyage 2019</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="form-voyage">
                                <div class="form-group">
                                    <label for="password-voyage">Mot de passe exigé</label>
                                    <input id="password-voyage" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                    <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                                </div>
                                <button id="validation-form-voyage" class="btn btn-primary">Valider</button>
                            </div>
                            <div class="folder-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Troisième dossier "Musique" -->
            <!-- Button trigger modal -->
            <div class="folders">
                <img data-toggle="modal" data-target="#folder3" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
                <a data-toggle="modal" data-target="#folder3">
                    Musiques
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="folder3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Musiques</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="form-musiques">
                                <div class="form-group">
                                    <label for="password-musiques">Mot de passe exigé</label>
                                    <input id="password-musiques" class="form-control form-control-lg" type="text" placeholder="Mot de passe" value="">
                                    <span class="help pr-2"><i class="fas fa-question-circle"></i></span><span class=" text-muted hint">Peut-être mettre un indice ici</span>
                                </div>
                                <button id="validation-form-musiques" class="btn btn-primary">Valider</button>
                            </div>
                            <div class="folder-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quatrième dossier "Evelyn" -->
            <!-- Button trigger modal -->
            <div class="folders">
                <img data-toggle="modal" data-target="#folder4" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
                <a data-toggle="modal" data-target="#folder4">
                    Evelyn
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="folder4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Evelyn</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            J'ai ouvert le dossier Evelyn
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- cinquième dossier "Corbeille" -->
            <!-- Button trigger modal -->
            <div class="folders">
                <img data-toggle="modal" data-target="#folder5" src="{{ asset('images-beyond/beyond-folders-img/trash.png') }}">
                <a data-toggle="modal" data-target="#folder5">
                    Corbeille
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="folder5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Corbeille</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            J'ai ouvert le dossier Corbeille
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sixième dossier "Désinstalleur" -->
            <!-- Button trigger modal -->
            <div class="folders">
                <img data-toggle="modal" data-target="#folder6" src="{{ asset('images-beyond/beyond-folders-img/folder.png') }}">
                <a data-toggle="modal" data-target="#folder6">
                    Désinstalleur
                </a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="folder6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Désintalleur</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            J'ai ouvert le dossier désintalleur
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="post-it">NOTES:
            <hr>
            <ul>
                <li>Aller boire un Spinoza avec Rachel !</li>
            </ul>
        </div>
    </div>


{% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="{{ asset ('assets/javascript/modal.js') }}"></script>
        <script src="{{ asset ('assets/javascript/folders.js') }}"></script>
        <script>
            document.getElementById("validation-form-images").addEventListener("click",()=>{
                if(document.getElementById("password-images").value === "{{ data['beyond'][0].password }}" ){
                    $('#form-images').hide();
                    $('.folder-content').html("{{ data['beyond'][0].contenu | raw }}");
                }
            })
            document.getElementById("validation-form-voyage").addEventListener("click",()=>{
                if(document.getElementById("password-voyage").value === "{{ data['beyond'][1].password }}" ){
                    $('#form-voyage').hide();
                    $('.folder-content').html("{{ data['beyond'][1].contenu | raw }}");
                }
            })
            document.getElementById("validation-form-musiques").addEventListener("click",()=>{
                if(document.getElementById("password-musiques").value === "{{ data['beyond'][2].password }}" ){
                    $('#form-musiques').hide();
                    $('.folder-content').html("{{ data['beyond'][2].contenu | raw }}");
                }
            })
        </script>
    {% endblock %}
