{% extends 'base.html.twig' %}

{% block body %}
    <section>

        <div class="container">
            <div class="row">

                <div>
                    <div class="jumbotron col-lg-12 col-md-12 col-md-offset-12">
                        <div class="text-center d-flex justify-content-center">
                            <h1 class="text-center">Bienvenue amis aventuriers !</h1>
                        </div>
                        <h3>Vous êtes prêts à vivre des aventures hors du commun ? Alors vous êtes au bon endroit.</h3>
                        <p>Ici vous attendent des missions aux scénarios extraordinaires ! Science-Fiction, Action,
                            Mystère, Horreur... Notre volonté, votre divertissement. Alors installez vous bien et
                            préparez vous au grand voyage.</p>
                        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p class="text-center"><a href="{{ path('app_register') }}" class="btn btn-primary btn-lg" role="button">Inscription</a>
                        </p>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <p class="text-center"><a href="#adventures" class="btn btn-primary btn-lg" role="button">Aventures</a>
                        </p>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>

    </section>

    <hr/>

    <div class="text-center d-flex justify-content-center mb-4" id="adventures">
        <h1 class="adventures">Les aventures</h1>
    </div>

    <section class="carousel slide" data-ride="carousel" id="postsCarousel">
        <div class="container">
            <div class="row">
                <div class="col-12 text-right mb-4">
                    <a class="btn btn-outline-secondary prev" href="" title="go back"><i
                                class="fa fa-lg fa-chevron-left"></i></a>
                    <a class="btn btn-outline-secondary next" href="" title="more"><i
                                class="fa fa-lg fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div class="container pt-0 mt-2 carousel-inner">
            <div class="row row-equal carousel-item active mt-0">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/beyond.jpg') }}" alt="beyond">
                        <div class="card-body">
                            <h5 class="card-title"></a>BEYOND</h5>
                            <p class="card-text">Votre mission, vous occupez seul de la remise à zéro d'un pc. Seul ?
                                Vraiment ?</p>
                            {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('read_mission') }}" class="btn play" target="_blank">Jouer</a>
                            {% else %}
                            <span class="btn play" data-toggle="popover"  data-content="Pour jouer vous devez être connecté">Jouer</span>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/loading.png') }}" alt="enCours">
                        <div class="card-body">
                            <h5 class="card-title">A venir</h5>
                            <p class="card-text">Vous êtes pressés ? Nous aussi mais pour le moment on crée.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/loading.png') }}" alt="enCours">
                        <div class="card-body">
                            <h5 class="card-title">A venir</h5>
                            <p class="card-text">Vous êtes pressés ? Nous aussi mais pour le moment on crée.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row row-equal carousel-item mt-0">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/loading.png') }}" alt="enCours">
                        <div class="card-body">
                            <h5 class="card-title">A venir</h5>
                            <p class="card-text">Vous êtes pressés ? Nous aussi mais pour le moment on crée.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/loading.png') }}" alt="enCours">
                        <div class="card-body">
                            <h5 class="card-title">A venir</h5>
                            <p class="card-text">Vous êtes pressés ? Nous aussi mais pour le moment on crée.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{ asset('images/loading.png') }}" alt="enCours">
                        <div class="card-body">
                            <h5 class="card-title">A venir</h5>
                            <p class="card-text">Vous êtes pressés ? Nous aussi mais pour le moment on crée.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.play').popover({
                container: 'body'
            })
        })
    </script>
{% endblock %}

